/*
  Possible entries:

    $body-background-color
    $sidebar-color
    $border-color

    $body-text-color
    $body-heading-color
    $nav-child-link-color
    $search-result-preview-color

    $link-color
    $btn-primary-color
    $base-button-color

    $code-background-color
    $search-background-color
    $table-background-color
    $feedback-color
*/

$body-background-color: #FCFCFC;
$sidebar-color: #F8F8F8;
$border-color: #DFDFDF;

$body-text-color: #333333;
$body-heading-color: #282828;

$nav-child-link-color: #333333;

$search-result-preview-color: #999999;

$link-color: #11AD73;

$code-background-color: #F8F8F8;
$search-background-color: #F8F8F8;
$feedback-color: darken($sidebar-color, 3%);
